@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url(https://db.onlinewebfonts.com/c/b793ca83b438dad264f0292350e9e7e2?family=Awesome+Lathusca);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #F3BBFA, #C185F6);
}

::selection{
  color: #fff;
  background: #C185F6;
}

.details p{
  font-size: 25px;
  color: #a949fd;
  font-weight: 500;
}

.title{
  text-align: center;
  font-family: 'Awesome Lathusca';
  color: #fff;
  font-size: 56px;
  font-weight: 600;
  margin-top: 50px;
}

.wrapper{
  max-width: 405px;
  padding: 28px 15px 30px;
  margin: 50px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.stat-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid #C185F6;
  width: 100%;
}

.details{
  width: 100%;
}

#progressbar{
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background: #F3BBFA;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

#progress{
    width: 50%;
    height: 100%;
    background: #C185F6;
    border-radius: 10px;
    transition: width 0.3s ease;
}

#numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #C185F6;
    border: 2px solid #a949fd;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
}

.task-input{
  height: 52px;
  /*padding: 0 15px;*/
  position: relative;
}

.task-input input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 10px;
  border: 1px solid #999;
}

.task-input input:focus,
.task-input input.active{
  padding-left: 10px;
  border: 2px solid #C185F6;
}

.task-input input::placeholder{
  color: #bfbfbf;
}

.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls{
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

.filters span{
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}

.filters span:first-child{
  margin-left: 0;
}

.filters span.active{
  color: #C185F6;
}

.controls .clear-btn{
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #F3BBFA 0%, #C185F6 100%);
}

.clear-btn:hover{
  border: 2px solid #a949fd;
}

.clear-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}

.clear-btn:active{
  transform: scale(0.93);
}

.task-box{
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}

.task-box.overflow{
  overflow-y: auto;
  max-height: 300px;
}

.task-box::-webkit-scrollbar{
  width: 5px;
}

.task-box::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

.task-box::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}

.task-box .task{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.task-box .task:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.task-box .task label{
  display: flex;
  align-items: flex-start;
}

.task label input{
  margin-top: 7px;
  accent-color: #C185F6;
}

.task label p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}

.task label p.checked{
  text-decoration: line-through;
}

.task-box .settings{
  position: relative;
}

.settings :where(i, li){
  cursor: pointer;
}

.settings .task-menu{
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}

.task-box .task:last-child .task-menu{
  bottom: 0;
  transform-origin: bottom right;
}

.task-box .task:first-child .task-menu{
  bottom: -65px;
  transform-origin: top right;
}

.task-menu.show{
  transform: scale(1);
}

.task-menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}

.task-menu li:last-child{
  margin-bottom: 0;
}

.settings li:hover{
  background: #f5f5f5;
}

.settings li i{
  padding-right: 8px;
}

@media (max-width: 400px) {
  body{
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span{
    margin: 0 5px;
  }
  .task-input{
    padding: 0 20px;
  }
  .controls{
    padding: 18px 20px;
  }
  .task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input{
    margin-top: 4px;
  }
}
